{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <title>Karolina Dziorek - UI Designer</title>
        <link rel="stylesheet" href="{% static "portfolio/styles/styles.css" %}">
    </head>
    <body>
        {% include "portfolio/partials/nav.html" %}
        {% block subnav %}{% endblock %}
        {% block content %}{% endblock %}

        <script src="{% static "portfolio/scripts/main.js" %}" charset="utf-8"></script>
    </body>
</html>
