@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue';
    box-sizing: content-box;
}

/**
 * Helper classes
 */

.text-center {
    text-align: center;
}

/**
 * Navigation menu
 */

.logo {
    display: block;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
}

.nav-menu {
    padding: 30px 0;
    margin: 0;
    list-style-type: none;
    letter-spacing: 2px;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
    white-space: nowrap;
}

.nav-menu-primary {
    font-size: 15px;
    text-transform: uppercase;
}

.nav-menu-secondary {
    padding: 0;
    font-size: 14px;
    background-color: #fafafa;
    opacity: 0.97;
}

.nav-menu-secondary.open {
    position: absolute;
    width: 100%;
}

.nav-menu-item {
    display: inline-block;
}

.nav-menu-primary .nav-menu-item:not(:first-child) {
    padding-left: 50px;
}

.nav-menu-secondary:not(.open) .nav-menu-item:not(.active) {
    display: none;
}

.nav-menu-secondary .nav-menu-item {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav-menu-url {
    color: #727272;
    text-decoration: none;
}

.nav-menu-url.active {
    color: #1088cd;
}

/**
 * Projects list
 * This is a list of projects. Each project has a
 * `headline` and an `image`.
 */

.projects-list {
    text-align: center;
}

.project {
    margin-bottom: 55px;
}

.project:first-child {
    margin-top: 40px;
}

.project-title {
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
}

.project-image {
    width: 230px;
    height: 212px;
    outline: 1px solid #e9e9e9;
}

/**
 * Project detail
 */

.project-detail-container {
    padding: 40px 20px;
}

.project-desc {
    border-bottom: 1px solid #e9e9e9;
}

.project-role-list {
    padding: 0;
    list-style-type: none;
    font-size: 17px;
    font-weight: 200;
}

.project-seemore {
    padding: 40px 0;
}

.project-seemore .project {
    padding-top: 20px;
}

.project-seemore .project-image {
    width: 135px;
    height: 130px;
}

.seemore-text {
    font-size: 14px;
    font-weight: 200;
}

.seemore-link {
    text-decoration: none;
    color: #1088cd;
}

/**
 * Overrides the markdown styles.
 */

.project-detail-markdown h1 {}
.project-detail-markdown h2 {}
.project-detail-markdown h3 {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 35px;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: #aeaeae;
}
.project-detail-markdown h4 {
    text-transform: uppercase;
}
.project-detail-markdown h5 {}
.project-detail-markdown h6 {}

.project-detail-markdown span {
    font-size: 13px;
    color: #626161;
    letter-spacing: 2px;
}


.project-detail-markdown p {
    margin: 30px auto;
    font-size: 16px;
    font-weight: 300;
    color: #4c4c4c;
}

.project-detail-markdown img {}

.project-detail-markdown a {}

.profile-link {
    font-weight: 400;
    text-decoration: none;
    color: #000;
}


.quote-author {
    display: block;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: right;
}

.quote-text {
    color: #626161;
    font-weight: 300;
    font-style: italic;
}

/**
 * Buttons
 */
.button-wrapper {
    margin: 30px auto;
}
.button {
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    border-bottom: 3px solid;
}

.button-alert {
    color: red;
}

.button-success {
    color: blue;
}

.project-detail-markdown h4.job-title {
    margin-top: 0;
    margin-bottom: 5px;
}
