<nav>
    <a href="/" class="logo">
        {% include "portfolio/partials/logo.html" %}
    </a>
    {% with request.resolver_match.url_name as url_name %}
    <ul class="nav-menu nav-menu-primary">
        <li class="nav-menu-item"><a href="{% url "portfolio:recent" %}" class="nav-menu-url {% if url_name != 'contact' and url_name != 'about' and url_name != 'testimonial' and url_name != 'resume'  %}active{% endif %}
">Works</a></li>
        <li class="nav-menu-item"><a href="{% url "portfolio:about" %}" class="nav-menu-url {% if url_name == 'about' %}active{% endif %}">About me</a></li>
    </ul>
    {% endwith %}

</nav>
