<nav>
    <a href="/" class="logo">
        {% include "portfolio/partials/logo.html" %}
    </a>
    {% with request.resolver_match.url_name as url_name %}
    <ul class="nav-menu nav-menu-primary">
        {% if url_name != 'contact' and url_name != 'about' and url_name != 'testimonial' and url_name != 'resume'  %}
        <li class="nav-menu-item"><a href="{% url "portfolio:recent" %}" class="nav-menu-url active">Works</a></li>
        <li class="nav-menu-item"><a href="{% url "portfolio:about" %}" class="nav-menu-url">About me</a></li>
        {% else %}
        <li class="nav-menu-item"><a href="{% url "portfolio:recent" %}" class="nav-menu-url">Works</a></li>
        <li class="nav-menu-item"><a href="{% url "portfolio:about" %}" class="nav-menu-url active">About me</a></li>
        {% endif %}
    </ul>
    {% endwith %}

</nav>
