{% extends "portfolio/base.html" %}
{% load django_markdown %}

{% block subnav %}
    {% include "portfolio/partials/sub_nav_about.html" %}
{% endblock %}

{% block content %}
    <div class="project-detail-container project-detail-markdown aboutme-container">
        <h3>About me</h3>
        <span>independent • dedicated • esthete</span>
        <br>
        <p>
            <q class="quote-text" cite="">Simplicity is the ultimate sophistication.</q> - Leonardo da Vinci <br><br>
            My work is at the same time my passion and greatest interest. My ultimate goal is to design innovative interactions, easy-to-use interfaces and enjoyable experiences. I believe less is more, and good design is where there is nothing else to remove, not
            nothing else to add.

        </p>

        <h5>WHAT I OFFER</h5>
        <p>
             • UI Design and User Experience boost for mobile and web applications • Responsive Design • Creating projects from scratch as well as analysis and re-design of existing User Interfaces • Graphic Design • Creative Direction of your project • solving design
            problems • Brand Design • effective communication • long term working relationship
        </p>

        <h5>Tools</h5>
        <p>
            Design: Paper and Pencil, Adobe Photoshop & Illustrator CS6, InvisionApp, UxPin<br>
            Project management: Trello, Google Documents<br>
            Communication: email and Skype<br>
        </p>

        <h5>Availability</h5>
        <p>
            I am available for short-term and long-term hire. If you are interested, you can <a href="{% url 'portfolio:contact' %}">contact me</a>.<br>
            I am looking forward to working with you.
        </p>

        <span>find me on:</span>
        <p>
            {% include "portfolio/partials/contact_links.html" %}
        </p>
    </div>
{% endblock %}
