{% extends "portfolio/base.html" %}
{% load django_markdown %}

{% block subnav %}
    {% include "portfolio/partials/sub_nav_about.html" %}
{% endblock %}

{% block content %}
    <div class="project-detail-container project-detail-markdown aboutme-container">
        <h3>About me</h3>
        <span>independent • passionate • creative</span>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <h3>My principles</h3>
        <span>when it comes to design, my workflow and work etheics I follow those rules:</span>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <h3>profiles</h3>
        <span>find me on:</span>
        <p>
            {% include "portfolio/partials/contact_links.html" %}
        </p>
    </div>
{% endblock %}
