{% extends "portfolio/base.html" %}
{% load django_markdown %}

{% block subnav %}
    {% include "portfolio/partials/sub_nav_about.html" %}
{% endblock %}

{% block content %}
    <div class="project-detail-container project-detail-markdown contact">
        <h3>Feel free to contact me:</h3>
        <div class="contact-ref">
            <span>e-mail:</span>
            <p>
                <a class="profile-link" href="mailto:k.dziorek@gmail.com">k.dziorek {at} gmail.com</a>
            </p>
        </div>

        <div class="contact-ref">
            <span>or Skype:</span>
            <p>
                <a class="profile-link">hibernalwarmth</a>
            </p>
        </div>

        <div class="contact-ref">
            <span>find me on:</span>
            <p>
                <a class="profile-link" href="#">Behance</a> • <a class="profile-link" href="#">LinkedIn</a> • <a class="profile-link" href="#">Instagram</a>
            </p>
        </div>
    </div>
{% endblock %}
