{% extends "portfolio/base.html" %}
{% load django_markdown %}

{% block subnav %}
    {% include "portfolio/partials/sub_nav.html" with active_category=project.category.id categories=categories %}
{% endblock %}

{% block content %}
    <div class="project-detail-container">
        <h3 class="project-title">{{ project.title }}</h3>
        <ul>
            <li>Role: </li>
            <li>Task: </li>
        </ul>

        <div class="project-detail-markdown">
            {{ project.full_description|markdown }}
        </div>

        <div class="project-seemore">
            <span>See more in: <a href="{{ project.category.get_absolute_url }}">{{ project.category }}</a></span>
            {% if similar_projects %}
                {% for project in similar_projects %}
                    {% include "portfolio/partials/project_list_item.html" %}
                {% endfor %}
            {% endif %}
        </div>
    </div>


{% endblock %}
