{% extends "portfolio/base.html" %}
{% load django_markdown %}

{% block subnav %}
    {% include "portfolio/partials/sub_nav.html" with active_category=project.category.id categories=categories %}
{% endblock %}

{% block content %}
    <div class="project-detail-container">
        <h3 class="project-title">{{ project.title }}</h3>
        <ul class="project-role-list">
            <li class="project-role">Role: {{ project.role }}</li>
            <li class="project-role">Task: {{ project.task }}</li>
        </ul>

        <div class="project-detail-markdown project-desc">
            {{ project.full_description|markdown }}
        </div>

        <div class="project-seemore text-center">
            <span class="seemore-text">See more in: <a class="seemore-link" href="{{ project.category.get_absolute_url }}">{{ project.category }}</a></span>
            {% if similar_projects %}
                {% for project in similar_projects %}
                    <div class="project">
                        <a class="project-image" href="{{ project.get_absolute_url }}">
                            <img src="http://placehold.it/135x130" alt="{{ project.title }}" />
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>


{% endblock %}
