{% extends "portfolio/base.html" %}
{% load django_markdown %}

{% block subnav %}
    {% include "portfolio/partials/sub_nav_about.html" %}
{% endblock %}

{% block content %}
    <div class="project-detail-container project-detail-markdown">
        <div class="resume-section">
            <h3>Working experience</h3>
            <div class="job">
                <h4 class="job-title">UI/UX Designer/Visual designer @ upwork.com/oDesk.com</h4>
                <span>2012 - present</span>
                <p>
                    UI/UX Design, Web design, Landing Page Design, iOS applications, banners,
                    illustrations, logo design, web applications, icons, graphical overlay for the content,
                    presentations.
                </p>
            </div>

            <div class="job">
                <h4 class="job-title">visual design intern @ 'Txtr</h4>
                <span>1.1.2014 - 30.6.2014</span>
                <p>
                    I was part of a UX & Applications team. My tasks included: 'txtr apps:
                    interface design for Android, iOS, Windows 8 and Mac OS X; txtr Web: re-search, design
                    and concept for txtr.com's app page; illustrations, pixel perfect asset production and design
                    guidelines for all platforms, rebrand design of apps for external clients, flat redisgn of the desktop app
                    ans my personal project, creative brainstorming.
                </p>
            </div>
        </div>

        <div class="resume-section">
            <h3>Software</h3>
        </div>
        <div class="resume-section">
            <h3>Education</h3>
        </div>
        <div class="resume-section">
            <h3>Languages</h3>
        </div>
        <div class="resume-section">
            <h3>Other working experience</h3>
        </div>


        <div class="button-wrapper text-center">
            <a class="button button-alert" href="#">Download CV</a>
        </div>

        <div class="button-wrapper text-center">
            <a class="button button-success" href="#">see recommendations</a>
        </div>

    </div>
{% endblock %}
