{% extends "portfolio/base.html" %}
{% load django_markdown %}

{% block subnav %}
    {% include "portfolio/partials/sub_nav.html" with active_category="resumé" categories=categories %}
{% endblock %}

{% block content %}
    <div class="project-detail-container project-detail-markdown">
        <h3>Feel free to contact me:</h3>
        <span>e-mail:</span>
        <p>
            <a class="profile-link" href="mailto:k.dziorek@gmail.com">k.dziorek {at} gmail.com</a>
        </p>
        <span>or Skype:</span>
        <p>
            <a class="profile-link">hibernalwarmth</a>
        </p>

        <span>find me on:</span>
        <p>
            <a class="profile-link" href="#">Behance</a> • <a class="profile-link" href="#">LinkedIn</a> • <a class="profile-link" href="#">Instagram</a>
        </p>

    </div>
{% endblock %}
