{% extends "portfolio/base.html" %}
{% load django_markdown %}
{% load staticfiles %}

{% block subnav %}
    {% include "portfolio/partials/sub_nav_about.html" %}
{% endblock %}

{% block content %}
    <div class="project-detail-container project-detail-markdown aboutme-container">
        <div class="resume-section">
            <h3 class="js-resume-section-headline">WORK EXPERIENCE</h3>

            <div class="resume-item job">
                <h4 class="job-title">FREELANCE UI/UX DESIGNER, VISUAL DESIGNER</h4>
                <span>2012 -2014 / 2015 - present</span>
                <p>
                    I am working with international clients in different branches. My work scope includes:<br><br>
                    • UI/UX design for web and mobile applications • web design • creation of a brand identity<br>
                    • visual design for marketing materials like banners, brochures, illustrations and presentations
                </p>
            </div>

            <div class="resume-item job">
                <h4 class="job-title">VISUAL DESIGN INTERN @ 'TXTR</h4>
                <span>1.2014 - 6.2014</span>
                <p>
                    I was part of The UX & Applications team. My tasks included:<br><br>
                    • creating UI for Android, iOS, Windows 8 and Mac OS platforms • rebrand design of apps for

external clients (incl. Disney, Juke, Readerlink) • conducting design research and creating design

concept for txtr.com's applications page • illustration design • creation of pixel perfect assets and

design guidelines for dev team • creative brainstorming • I also took a responsibility over a

re-design of the txtr desktop app, proposing visual and UX design solutions
                </p>
            </div>
        </div>

        <div class="resume-section is-closed">
            <h3 class="js-resume-section-headline">Software</h3>

            <div class="resume-item">
                <div class="job skill">
                    <h4 class="job-title">ADOBE PHOTOSHOP CS6</h4>
                    <span>fluent</span>
                    <p></p>
                </div>

                <div class="job skill">
                    <h4 class="job-title">Adobe illustrator cs6</h4>
                    <span>fluent</span>
                    <p></p>
                </div>

                <div class="job skill">
                    <h4 class="job-title">Adobe indesign cs4</h4>
                    <span>intermediate</span>
                    <p></p>
                </div>

                <div class="job skill">
                    <h4 class="job-title">INVISION</h4>
                    <span>intermediate</span>
                    <p></p>
                </div>

                <div class="job skill">
                    <h4 class="job-title">JIRA & confluence</h4>
                    <span>intermediate</span>
                    <p></p>
                </div>
            </div>
        </div>

        <div class="resume-section is-closed">
            <h3 class="js-resume-section-headline">Education</h3>

            <div class="resume-item job">
                <h4 class="job-title">MSC IN MEDIA AND COMMUNICATION @ VRIJE UNIVERSITEIT BRUSSEL</h4>
                <span>9.2012 - 9.2014 Brussels, Belgium</span>
                <p>
                    <i>Master Thesis: Gamification for social wellbeing - golden spur or reward race?</i>
                </p>
            </div>

            <div class="resume-item job">
                <h4 class="job-title">LICENSE DEGREE IN EUROPEAN STUDIES @ ACADEMY OF NATIONAL DEFENSE</h4>
                <span>10.2008 - 6.2011 Warsaw, Poland</span>
                <p>
                </p>
            </div>

        </div>

        <div class="resume-section is-closed">
            <h3 class="js-resume-section-headline">Languages</h3>

            <div class="resume-item">
                <div class="job skill">
                    <h4 class="job-title">POLISH</h4>
                    <span>native</span>
                    <p></p>
                </div>

                <div class="job skill">
                    <h4 class="job-title">ENGLISH</h4>
                    <span>fluent</span>
                    <p></p>
                </div>

                <div class="job skill">
                    <h4 class="job-title">GERMAN</h4>
                    <span>basic</span>
                    <p></p>
                </div>

                <div class="job skill">
                    <h4 class="job-title">TUNISIAN ARABIC</h4>
                    <span>basic</span>
                    <p></p>
                </div>


            </div>

        </div>

        <div class="button-wrapper text-center">
            <a class="button button-alert" href="#">
                 Download CV
            </a>
        </div>
    </div>
{% endblock %}
